*.swp
*.exe
*.mod
*.o
*.out
*.lis
setup/#*#
setup/oldnamelists
output
rpe
tmp
animations
.rsync-filter
experiments.ods
data/bc/t39/
_build
_static
_templates
run1*.sh
./submit_jobs.sh
./Q.sh
./scancel.sh
junk/
temp/
